.mainTitle {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.reportDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora";
  font-style: italic;
}

.sectionTitle {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.detailTitle {
  font-size: 20;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora";
  font-style: italic;
  font-size: medium;
}

.DataFrameSummaryContainer {
  margin: 10px 50px 0px 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.dataFrameText {
  font-family: "Lora";
}

#oldDataFrameSummaryContainer {
  margin: 10px;
  padding: 10px;
  grid-column: 1 / 6;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

#newDataFrameSummaryContainer {
  margin: 10px;
  padding: 10px;
  grid-column: 6 / -1;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.center {
  display: flex;
  justify-content: center;
}

.contentFormat {
  font-family: "Lora";
}

.summaryDataframeTable {
  margin: 10px;
  overflow: auto;
  padding: 15px 5px 0px 5px;
  font-family: "Lora";
}

.tableChangesContainer {
  margin: 10px 50px 0px 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.columnChanges {
  margin: 10px;
  padding: 10px;
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.recordCountChanges {
  margin: 10px;
  padding: 10px;
  grid-column: 4 / 7;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.dataTypeChanges {
  margin: 10px;
  padding: 10px;
  grid-column: 7 / -1;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.list-group-item::before {
  content: "●";
  margin-right: 0.75rem;
}

.recordValueChangesContainer {
  margin: 10px 50px 0px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.recordValueChanges {
  margin: 10px;
  padding: 10px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.recordValueChangesTableContainer {
  margin: 10px;
  padding: 10px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  border: 1px solid lightgrey;
  background-color: rgb(251, 251, 255);
  border-radius: 12px;
  overflow: auto;
  max-height: 600px;
}

.changedRecordsDataframe {
  overflow: auto;
  padding: 15px 5px 0px 5px;
  overflow: auto;
  font-family: "Lora";
}
